Repository ExeClim/Isca, pull requests merged in 2020-07, with the labels that each got.

#171 Documentation for simple Betts-Milller
  docs/source/modules/convection_simple_betts_miller.rst
  docs/source/modules/index.rst
  docs/source/references.rst
Labels: docs, phys:conv

#174 Documentation for SOCRATES radiation scheme interface
  docs/source/modules/index.rst
  docs/source/modules/socrates.rst
  docs/source/references.rst
Labels: docs, phys:rad, priority:high

#175 Trip test documentation
  docs/source/contributing.rst
  docs/source/index.rst
  docs/source/testing/index.rst
  docs/source/testing/trip_test.rst
Labels: docs, infrastructure, priority:high
